<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Weather App</title>
</head>

<body>
    <div class="container">
        <div class="weather-current-wrapper">
            <div class="weather-current">
                <div class="current-top">
                    <div class="current-time">
                        <h6>8:00 pm</h6>
                    </div>
                    <div class="current-date">
                        <h6>Tuesday</h6>
                        <h6>January 20, 2020</h6>
                    </div>
                    <div class="current-desc">
                        <h4>Mostly cloudy</h4>
                    </div>
                </div>
                <div class="current-bottom">
                    <div class="current-temp">
                        <h1>32<span id="unit"> °C</span></h1>
                    </div>
                    <div class="current-location">
                        <h6>Toronto, Ontario</h6>
                    </div>
                </div>
            </div>

            <div class="fiveDay-wrapper">
                <div class="fiveDay-forecasts">
                    <div class="day">
                        <h6>Sunny</h6>
                        <div class="day-temp">
                            <h1>32<span id="unit"> °C</span></h1>
                            <div class="single-day">
                                <h6>Wednesday</h6>
                            </div>
                        </div>
                        <hr>
                    </div>
                    
                    <div class="day">
                        <h6>Mostly cloudy</h6>
                        <div class="day-temp">
                            <h1>16<span id="unit"> °C</span></h1>
                            <div class="single-day">
                                <h6>Thursday</h6>
                            </div>
                        </div>
                        <hr>
                    </div>
                    
                    <div class="day">
                        <h6>Raining</h6>
                        <div class="day-temp">
                            <h1>22<span id="unit"> °C</span></h1>
                            <div class="single-day">
                                <h6>Friday</h6>
                            </div>
                        </div>
                        <hr>
                    </div>
                    
                    <div class="day">
                        <h6>Sunny</h6>
                        <div class="day-temp">
                            <h1>25<span id="unit"> °C</span></h1>
                            <div class="single-day">
                                <h6>Saturday</h6>
                            </div>
                        </div>
                        <hr>
                    </div>
                    
                    <div class="day">
                        <h6>Raining</h6>
                        <div class="day-temp">
                            <h1>30<span id="unit"> °C</span></h1>
                            <div class="single-day">
                                <h6>Sunday</h6>
                            </div>
                        </div>
                        <hr>
                    </div>
                    
                    <div class="day">
                        <h6>Heavy clouds</h6>
                        <div class="day-temp">
                            <h1>18<span id="unit"> °C</span></h1>
                            <div class="single-day">
                                <h6>Monday</h6>
                            </div>
                        </div>
                        <hr>
                    </div>
                    

                </div>

            </div>


        </div>

    </div>
    </div>
</body>

</html>